header {
  position: fixed;
  top: 0;
  z-index: 100;
  .header-background {
    background-color: aliceblue;
    filter: contrast(50%) grayscale(20%);
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .barWrapper {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    padding-left: 3vmax;
    padding-right: 3vmax;
    display: flex;
    justify-content: center;
    z-index: 3;
    .innerContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      .titleNavWrapper {
        width: 70%;
        height: 60px;
        display: flex;
        min-width: 340px;
        .logo {
          display: flex;
          a {
            text-decoration: none;
            display: flex;
            .my-logo-wrapper-header {
              display: flex;
            }
            img {
              margin-right: 15px;
            }
            .photoUrl-displayName-wrapper {
              display: flex;
              img {
                border-radius: 50%;
              }
              div {
                font-size: 20px;
                font-weight: 600;
                align-self: center;
                margin-right: 15px;
              }
            }
          }
        }
      }
      .navbar-wrapper {
        width: 100%;
        display: flex;
        justify-content: end;
        a {
          margin: 10px;
        }
      }
      .actions {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: end;
        .social {
          display: flex;
          width: 60%;
          justify-content: end;
          margin-right: 1vmax;
          a {
            margin: 0.33vmax;
            img {
              width: 35px;
              &:hover {
                scale: 1.25;
                transition: 0.3s;
              }
            }
          }
        }
        .logout-button-wrapper {
          display: flex;
          justify-content: center;
          width: 40%;
        }
      }
    }
  }
}
