body {
  margin: 0 auto;
  --normal-text-size-value: 1.25;
}

header,
main,
footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
}

main {
  align-items: start;
  height: 100%;
  min-height: 50vmax;
}

h1 {
  font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 1rem);
  margin: 1vw;
}

.regular-button {
  background-color: #3789b7;
  padding: 0.6vmax 1vmax;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 0.6rem);
  font-weight: 600;
  box-sizing: border-box;
  white-space: nowrap;
}
.regular-button:hover {
  background-color: #693575;
  scale: 1.15;
  transition: 0.5s;
}

.regular-button[disabled] {
  background-color: gainsboro;
  scale: 1;
}

main {
  margin-top: 91.3px;
}
main article section .block-content {
  width: 33vmax;
  min-width: 340px;
}
main article section .block-content .form-wrapper {
  display: flex;
  flex-direction: column;
}
main article section .block-content .form-wrapper .title-form-wrapper {
  background-color: #693575;
  width: 100%;
  display: flex;
  justify-content: center;
}
main article section .block-content .form-wrapper .title-form-wrapper h2 {
  color: white;
}
main article section .block-content .form-wrapper form .form-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px;
}
main article section .block-content .form-wrapper form .field-list {
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
}
main article section .block-content .form-wrapper form .field-list fieldset {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
main article section .block-content .form-wrapper form .field-list fieldset legend {
  font-size: 20px;
}
main article section .block-content .form-wrapper form .field-list fieldset legend span:first-child {
  color: black;
}
main article section .block-content .form-wrapper form .field-list fieldset .measure-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main article section .block-content .form-wrapper form .field-list fieldset .measure-wrapper div {
  font-size: 20px;
}
main article section .block-content .form-wrapper form .field-list fieldset input {
  padding: 5px;
  width: 100%;
  font-size: 16px;
}
main article section .block-content .form-wrapper form .field-list fieldset select {
  border: none;
  background-color: #3789b7;
  color: white;
  font-size: 16px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  font-weight: 600;
  text-align: center;
}
main article section .block-content .form-wrapper form .field-list fieldset select:hover {
  scale: 1.1;
  transition: 0.5s;
  background-color: #693575;
}
main article section .block-content .form-wrapper form .field-list fieldset select option {
  display: flex;
  justify-content: center;
}
main article section .table-section table {
  width: 100%;
}
main article section .table-section table caption {
  margin-bottom: 2vw;
}
main article section .table-section table caption nav {
  display: flex;
  justify-content: center;
}
main article section .table-section table caption nav .table-nav-buttons {
  margin: 1vw;
}
main article section .table-section table tbody tr th {
  border: 1px solid black;
  box-sizing: border-box;
}
main article section .table-section table tbody tr th button {
  border: none;
  width: 100%;
  padding: 1vw 0.5vw 1vw 0.5vw;
  font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 0.3rem);
  white-space: nowrap;
  font-weight: 600;
}
main article section .table-section table tbody .rating-row td {
  text-align: center;
  padding: 1vw 0.5vw 1vw 0.5vw;
  border: 1px solid black;
  font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 0.4rem);
  white-space: nowrap;
  font-weight: 600;
  overflow: hidden;
}
main article section .playerInfo-wrapper {
  display: flex;
  flex-direction: column;
}
main article section .playerInfo-wrapper div {
  display: flex;
}

footer {
  background-color: green;
}

/*# sourceMappingURL=newMain.css.map */
